@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


body {
  padding: 0px;
  margin: 0;
  color: #666;
}

body .content {
  width: 600px;
  margin: 10px auto;
  margin-top: 40px;
  font-family: Myriad Pro Regular;
}

body .content a {
  color: #111;
  font-weight: bold;
}

.content input {
  margin-bottom: 10px;
  border-style: solid;
  border-color: #bbb;
  border-width: 1px;
  padding: 8px 15px;
  font-family: Myriad Pro Regular;
  color: #222;
  background-color: #f5f5f5;
  border-radius: 3px;
  width: 300px;
}

input.signin {
  margin-top: 10px;
  color: #fff;
  background-color: #009cfc;
  border-color: #009cec;
}

.header {
  font-family: Myriad Pro Regular;
  margin: 0px;
  margin-bottom: 20px;
  background-color: #252525;
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #fff;
}

.header .app_name {
  font-size: 18px;
  float: left;
  margin-left: 200px;
}

.header .profile {
  float: right;
  padding-right: 200px;
}

ul.nav {
  margin-left: 100px;
}

.reports_list {
  width: 600px;
}

.request_id {
  margin-right: 300px;
}

.no-margin {
  margin-right: 140px;
}

.report_status {
  margin-right: 100px;
}

.action_link {
  margin: 0 10px;
}

.stats {
  margin: 50px 5px;
  width: 600px;
}

.stats-3 {
  margin-left: 50px;
}

.stats-2 {
  margin-left: 120px;
}

.stats-1 {
  margin-left: 220px;
}

.stats .short_stat {
  width: 150px;
  display: inline-block;
  text-align: center;
}


.short_stat .stat_quant a {
  color: #009cfc;
  font-size: 40px;
}

.short_stat .stat_desp {
  font-size: 14px;
}

.footer {
  margin: 0px;
  height: 30px;
  background-color: #252525;
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #fff;
  font-family: Myriad Pro Regular;
}

html, body {
  height: 100%;
}
.content {
  min-height: 72%;
  /* equal to footer height */
  margin-bottom: -30px;
}
.content:after {
  content: "";
  display: block;
}
.footer, .content:after {
  height: 30px;
}

.footer .copyright {
  float: left;
  margin-left: 200px;
}

.footer .legal_links {
  float: right;
  margin-right: 200px;
}

.footer .legal_links a {
  margin-right: 20px;
}

a, a:hover {
  text-decoration: none;
  color: #fff;
}
