{% extends "citizen_loginbase.html" %}

{% block title %}Sign up | Citizen{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <form action="/citizen/signup" class="userfill signup" method="POST">
      <h2>Come aboard Citizen</h2>
      <input type="text" name="aadhaar_no" id="aadhaar_no" placeholder="Aadhaar no (12 digit)"><br>
      <input type="text" name="username" id="username" placeholder="Username"><br>
      <input type="password" name="passwd" id="passwd" placeholder="*******"><br>
      <input type="text" name="name" id="name" placeholder="Full Name"><br>
      <input type="date" name="dob" id="dob" placeholder="07/02/1990"><br>
      <input type="text" name="email" id="email" placeholder="email: foo@bar.com"><br>
      <input type="text" name="phone" id="phone" placeholder="Phone no: 9999999999"><br>
      <input type="submit" class="action-btn" value="Sign Up">
    </form>
{% endblock %}