{% extends "base.html" %}

{% block title %}Login | Citizen{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <form action="/citizen/signup" method="POST">
      <center><h2>Sign up</h2>
      <input type="text" name="aadhaar_no" id="aadhaar_no" placeholder="Aadhaar no (12 digit)"><br><br>
      <input type="text" name="username" id="username" placeholder="Username"><br><br>
      <input type="password" name="passwd" id="passwd" placeholder="*******"><br><br>
      <input type="text" name="name" id="name" placeholder="Full Name"><br><br>
      <input type="date" name="dob" id="dob" placeholder="07/02/1990"><br><br>
      <input type="text" name="email" id="email" placeholder="email: foo@bar.com"><br><br>
      <input type="text" name="phone" id="phone" placeholder="Phone no: 9999999999"><br><br>
      <input type="submit" value="Sign Up">
      </center>
    </form>
{% endblock %}