{% extends "citizen_loginbase.html" %}

{% block title %}Login | Citizen{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <form action="/citizen/login" class="userfill login" method="POST">
      <h2>Welcome Back Citizen</h2>
      <input type="text" name="username" id="username" placeholder="Username">
      <input type="password" name="passwd" id="passwd" placeholder="*******">
      <input type="submit" class="action-btn" value="Sign in">
      <p style="font-size: 12px;text-align:center;"><strong>Demo employee</strong> <br>username: <b>abhi</b>, password: <b>abhi</b><br></p>
      <p style="font-size: 12px;text-align:center;"><strong>Demo employer</strong> <br>username: <b>ollie</b>, password: <b>ollie</b><br></p>
    </form>
{% endblock %}