{% extends "loginbase.html" %}

{% block title %}Login | Citizen{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <form action="/citizen/login" method="POST">
      <h2>Welcome Back</h2>
      <input type="text" name="username" id="username" placeholder="Username">
      <input type="password" name="passwd" id="passwd" placeholder="*******">
      <input type="submit" class="signin" value="Sign in">
      <p style="font-size: 12px">Demo User <br>username: <b>abhi</b>, password: <b>abhi</b></p>
    </form>
{% endblock %}