{% extends "citizen_base.html" %}

{% block title %}Dashboard | Citizen{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
      .sidebar {
        display: inline;
        width: 30%;
        background-color: #888;
      }

      li {
        list-style: none;
        display: inline-block;
      }
    </style>
{% endblock %}

{% block content %}
    <div class="sidebar">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/citizen/dashboard">Home</a></li>
        <li role="presentation"><a href="/citizen/reports">Inbox</a></li>
        <li role="presentation"><a href="#ask_for_report_Not_yet_implemented">Ask for Report</a></li>
      </ul>
    </div>
    <div class="content">
      <div class="stats stats-1">
        <div class="short_stat">
          <div class="stat_quant"><a href="/citizen/reports">{{ report_ids|length }}</a></div>
          <div class="stat_desp">Pending Reports</div>
        </div>
      </div>
      <p style="text-align:center;">You are an employer, <b>{{ username }}</b>.</p>
    </div>
{% endblock %}