<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style-home.css">
  {% endblock %}
</head>
<body>
  {% block header %}
    <div class="header">
      <span class="app_name"><a href="/">CIA</a></span>
      <span class="profile">
        <a href="/citizen/login" class="login">Citizen Log in</a>
        <a href="/police/login" class="signup">Police Log in</a>
      </span>
    </div>
  {% endblock %}
  <div class="content">
  {% block content %}
    <div class="main-content">
      <div class="title">Crime Verification at Finger Tip</div>
      <div class="subtitle">Instant access to Govt. of India's online</div>
      <div class="subtitle">Criminal Record Verification System</div>
      <div class="subtitle">Applying for a job? Get a certified and clean criminal background from the Govt.</div>
      <br>
      <a href="#apply_as_a_police_Not_implemented_yet"><img src="/assets/img/apply.png" alt="Apply for service"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/citizen/signup"><img src="/assets/img/verify.png" alt="Verify"></a>
    </div>
  {% endblock %}
  </div>
  <div class="features">
    <div class="a-feature">
      <div class="semtitle">Aadhaar Authentication</div>
      <div class="desc">Trusted auth using Aadhaar Card information</div>
    </div>
    <div class="a-feature">
      <div class="semtitle">Criminal Background Check</div>
      <div class="desc">Govt. certified online criminal background check</div>
    </div>
    <div class="a-feature">
      <div class="semtitle">Easy to use</div>
      <div class="desc">Simple and elegant interface</div>
    </div>
  </div>
  {% block footer %}
    <div class="footer">
      <span class="copyright">Copyright - 2015 Crime Authentication using Aadhaar</span>
      <span class="legal_links">
        <a href="#terms_of_service">Terms of service</a>
        <a href="#privacy_policy">Privacy Policy</a>
      </span>
    </div>
  {% endblock %}
</body>
</html>