{% extends "base.html" %}

{% block title %}Dashboard | Police{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
      .sidebar {
        display: inline;
        width: 30%;
        margin-bottom: 50px;
        background-color: #888;
      }

      li {
        list-style: none;
        display: inline-block;
      }
    </style>
{% endblock %}

{% block content %}
    <div class="sidebar">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/police/dashboard">Home</a></li>
        <li role="presentation"><a href="/police/reports/open">Requests</a></li>
        <li role="presentation"><a href="/police/reports/in_process">Ongoing</a></li>
        <li role="presentation"><a href="#">Closed</a></li>
      </ul>
    </div>
    <div class="content">
      <!-- {{ message }}<br><br> -->
      <div class="stats stats-3">
        <div class="short_stat">
          <div class="stat_quant"><a href="/police/reports/open">{{ open_report_count }}</a></div>
          <div class="stat_desp">New Requests</div>
        </div>
        <div class="short_stat">
          <div class="stat_quant"><a href="/police/reports/in_process">{{ inprocess_report_count }}</a></div>
          <div class="stat_desp">Ongoing Requests</div>
        </div>
        <div class="short_stat">
          <div class="stat_quant"><a href="/police/reports/in_review">{{ inreview_report_count }}</a></div>
          <div class="stat_desp">Closed Requests</div>
        </div>
      </div>
    </div>
{% endblock %}