{% extends "base.html" %}

{% block title %}Dashboard | Police{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
      .sidebar {
        display: inline;
        width: 30%;
        background-color: #888;
      }

      li {
        list-style: none;
        display: inline-block;
      }
    </style>
{% endblock %}

{% block content %}
    <div class="sidebar">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/police/dashboard">Home</a></li>
        <li role="presentation"><a href="/police/requests">Requests</a></li>
        <li role="presentation"><a href="/police/reports/review">Review</a></li>
        <li role="presentation"><a href="#list_of_closed_Not_implemented_yet">Closed</a></li>
      </ul>
    </div>
    <div class="content">
      <div class="stats stats-2">
        <div class="short_stat">
          <div class="stat_quant"><a href="/police/requests">{{ open_report_count }}</a></div>
          <div class="stat_desp">New Requests</div>
        </div>
        <div class="short_stat">
          <div class="stat_quant"><a href="/police/reports/review">{{ review_report_count }}</a></div>
          <div class="stat_desp">Awaiting Review</div>
        </div>
      </div>
    </div>
{% endblock %}