{% extends "base.html" %}

{% block title %}Dashboard | Police{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
      .sidebar {
        display: inline;
        width: 30%;
        height: 100%;
        background-color: #888;
      }

      li {
        list-style: none;
        display: inline-block;
      }
    </style>
{% endblock %}

{% block content %}
    <div class="sidebar">
      <ul>
        <li>Home</li>
        <li><b>Requests</b></li>
        <li>Ongoing</li>
        <li>Closed</li>
      </ul>
    </div>
    <div class="content">
      {{ message }}<br><br>
      <a href="/police/reports/open">{{ open_report_count }}</a> reports require attention<br><br>
      Report ID
      {% for report_id in open_reports %}
        {{ report_id }}<br>
      {% endfor %}
    </div>
{% endblock %}