{% extends "base.html" %}

{% block title %}Dashboard | Police{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
      .sidebar {
        display: inline;
        width: 30%;
        height: 100%;
        background-color: #888;
      }

      li {
        list-style: none;
        display: inline-block;
      }
    </style>
{% endblock %}

{% block content %}
    <div class="sidebar">
      <ul>
        <li>Home</li>
        <li><b>Requests</b></li>
        <li>Ongoing</li>
        <li>Closed</li>
      </ul>
    </div>
    <div class="content">
      <a href="/police/requests">&lt;&nbsp;Requests</a><br><br>
      Request for report on aadhaar no {{ aadhaar_no }}
      assigned by commissioner "XYZ"<br><br>
      <form action="/police/requests/{{report_id}}/assign" method="POST">
        Assign to <input type="text" name="usernames" placeholder="eg: kandoiabhi, ollie (comma separated)">
        <input type="submit" value="Assign">
      </form>
    </div>
{% endblock %}