{% extends "base.html" %}

{% block title %}Dashboard | Police{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
      .sidebar {
        display: inline;
        width: 30%;
        height: 100%;
        background-color: #888;
      }

      li {
        list-style: none;
        display: inline-block;
      }
    </style>
{% endblock %}

{% block content %}
    <div class="sidebar">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="/police/dashboard">Home</a></li>
        <li role="presentation"><a href="/police/requests">Requests</a></li>
        <li role="presentation"><a href="/police/reports/review">Review</a></li>
        <li role="presentation" class="active"><a href="#">Closed</a></li>
      </ul>
    </div>
    <div class="content">
      Report Number {{ report_id }} has been marked as verified. Hurraa! <br><br>
      The person who asked for this review will be notified!
    </div>
{% endblock %}